{% extends "layout.html" %}
{% block content %}
<div class="container">
    <!--<div class="jumbotron">-->
    <!--  <h1>Arabic NLP Tools</h1>-->
    <!--  <p> A place for new ideas and state of the art technology!</p>-->
    <!--</div>-->

    <div class="jumbotron">
        <h1 class="display-4">Arabic Python and NLP Tools</h1>
        <p class="lead">Hi, my name is Rafik Kouissar and I am introducing this new platform as a place for new ideas
            and state of the art technology!</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Search Quran by Verse</h5>
                    <p class="card-text">It's a broader card with text below as a natural lead-in to extra content. This
                        content is a little longer.</p>
                    <a href="/enternew" class="btn btn-primary">Search Quran</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">List Quran Entries</h5>
                    <p class="card-text">It's a broader card with text below as a natural lead-in to extra content. This
                        content is a little longer.</p>
                    <a href="/list" class="btn btn-primary">Go to List</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Tokenize Arabic Text</h5>
                    <p class="card-text">It's a broader card with text below as a natural lead-in to extra content. This
                        content is a little longer.</p>
                    <a href="tokenize" class="btn btn-primary">Tokenize Text</a>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>
<!--<h4><a href = "\enternew">Create a new entry</a></h4>-->
{% endblock %}

