{% extends "layout.html" %}
{% block content %}
<div class="container">
    <!--<div class="jumbotron">-->
    <!--  <h1>Arabic NLP Tools</h1>-->
    <!--  <p> A place for new ideas and state of the art technology!</p>-->
    <!--</div>-->

    <div class="jumbotron">
        <h1 class="display-4">Quran and Arabic Tools Platform</h1>
        <p class="lead">Hello, my name is Rafik. I am  glad to introduce this new and rich platform as a place for state of the art tools for Quran search and
                            Arabic analysis tools based on NLP.</p>
        <hr class="my-4">
        <p>Quran search tool offer many ways to explore click button below to try it now.</p>
        <a class="btn btn-primary btn-lg" href="tokenize" role="button">Get Started</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Search Quran by Verse</h5>
                    <p class="card-text">This service enables you to locate a Quran verse by providing chapter and verse indexes. You can also save entries to your bookmarks and manage it.</p>
<!--                    <h5><a href="\delete">Delete entries</a></h5>-->

                    <a href="/enternew" class="btn btn-primary">Start</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Quran Tools</h5>
                    <p class="card-text">Auto generate random Quran verse along with Arabic and English commentary.</p>
                    <a href="/random" class="btn btn-primary">Start</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Arabic NLP Tools</h5>
                    <p class="card-text">Our Library of Arabic analysis tools offers various methods for text parsing and processing.</p>
                    <a href="tokenize" class="btn btn-primary">Start</a>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>
<!--<h4><a href = "\enternew">Create a new entry</a></h4>-->
{% endblock %}

