{% extends "layout.html" %}
{% block content %}

<!--<div class="container">-->
<!--  <p> {{result}}</p>-->
<!--</div>-->

<div class="row">
    <div class="col-sm-2">
        <div class="c-callout c-callout-info b-t-1 b-r-1 b-b-1">
            <small class="text-muted">Sura</small><br>
            <strong class="h4">{{r[2]}}</strong>
        </div>
    </div><!--/.col-->
    <div class="col-sm-2">
        <div class="c-callout c-callout-danger b-t-1 b-r-1 b-b-1">
            <small class="text-muted">English</small><br>
            <strong class="h4">{{r[3]}}</strong>
        </div>
    </div><!--/.col-->
    <div class="col-sm-2">
        <div class="c-callout c-callout-warning b-t-1 b-r-1 b-b-1">
            <small class="text-muted">number</small><br>
            <strong class="h4">{{r[4]}}</strong>
        </div>
    </div><!--/.col-->
    <div class="col-sm-2">
        <div class="c-callout c-callout-success b-t-1 b-r-1 b-b-1">
            <small class="text-muted">Number in Sura</small><br>
            <strong class="h4">{{r[5]}}</strong>
        </div>
    </div><!--/.col-->
    <div class="col-sm-2">
        <div class="c-callout b-t-1 b-r-1 b-b-1">
            <small class="text-muted">Revelation type</small><br>
            <strong class="h4">{{r[6]}}</strong>
        </div>
    </div><!--/.col-->
    <div class="col-sm-2">
        <div class="c-callout c-callout-primary b-t-1 b-r-1 b-b-1">
            <small class="text-muted">Page</small><br>
            <strong class="h4">{{r[7]}}</strong>
        </div>
    </div><!--/.col-->
</div><!--/.row-->

<div class="container">
<!--    <h4>TBD</h4>-->
<!--    <p>tbd</p>-->
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Arabic</th>
        </tr>
        </thead>
        <tbody>
        <tr class="success" align="right">
            <td><strong class="h4">{{r[0]}}</strong></td>
            <!--        <td>john@example.com</td>-->
        </tr>
    </table>
</div>

<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>English</th>
            <!--        <th>Email</th>-->
        </tr>
        </thead>
        <tbody>
        <tr class="success" align="right">
            <td>{{r[1]}}</td>
            <!--        <td>john@example.com</td>-->
        </tr>
    </table>
</div>
<!--<div class="container">-->
<!--&lt;!&ndash;    <h4>Names Entities</h4>&ndash;&gt;-->
<!--&lt;!&ndash;    <p>Arabic Named enteties recognation pyarabic.named</p>&ndash;&gt;-->
<!--    <table class="table table-striped">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>Sura</th>-->
<!--            &lt;!&ndash;        <th>Email</th>&ndash;&gt;-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr class="success" align="right">-->
<!--            <td>{{r[2]}}</td>-->
<!--            &lt;!&ndash;        <td>john@example.com</td>&ndash;&gt;-->
<!--        </tr>-->

<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->


<div class="container">
    {{f}}
</div>
<div class="container">
    <h5><a href="\random">New Submission</a></h5>
</div>
{% endblock %}