{% extends "layout.html" %}
{% block content %}

<!--<div class="container">-->
<!--  <p> {{result}}</p>-->
<!--</div>-->

<div class="row">
  <div class="col-sm-2">
    <div class="c-callout c-callout-info b-t-1 b-r-1 b-b-1">
      <small class="text-muted">Word count</small><br>
      <strong class="h4">{{c}}</strong>
    </div>
  </div><!--/.col-->
  <div class="col-sm-2">
    <div class="c-callout c-callout-danger b-t-1 b-r-1 b-b-1">
      <small class="text-muted">Recuring Clients</small><br>
      <strong class="h4">22,643</strong>
    </div>
  </div><!--/.col-->
  <div class="col-sm-2">
    <div class="c-callout c-callout-warning b-t-1 b-r-1 b-b-1">
      <small class="text-muted">Pageviews</small><br>
      <strong class="h4">78,623</strong>
    </div>
  </div><!--/.col-->
  <div class="col-sm-2">
    <div class="c-callout c-callout-success b-t-1 b-r-1 b-b-1">
      <small class="text-muted">Organic</small><br>
      <strong class="h4">49,123</strong>
    </div>
  </div><!--/.col-->
  <div class="col-sm-2">
    <div class="c-callout b-t-1 b-r-1 b-b-1">
      <small class="text-muted">Confidence</small><br>
      <strong class="h4">23%</strong>
    </div>
  </div><!--/.col-->
  <div class="col-sm-2">
    <div class="c-callout c-callout-primary b-t-1 b-r-1 b-b-1">
      <small class="text-muted">Bounce Rate</small><br>
      <strong class="h4">5%</strong>
    </div>
  </div><!--/.col-->
</div><!--/.row-->

<div class="container" >
  <h2>Tokenize Text Engine</h2>
  <p>The following tool will use nlp nltk to parse submitted text into tokens</p>
  <table class="table table-striped" >
    <thead>
      <tr>
        <th>Result</th>
        <th>Original</th>
<!--        <th>Email</th>-->
      </tr>
    </thead>
    <tbody>
      <tr class="success" align="right">
        <td>{{result}}</td>
        <td>{{orig_txt}}</td>
<!--        <td>john@example.com</td>-->
      </tr>

    </tbody>
  </table>
</div>
<div class="container">
  {{f}}
</div>
<div class = "container">
      <h5><a href = "\tokenize">New Submission</a></h5>
    </div>
 {% endblock %}