{% extends "layout.html" %}
{% block content %}

<!--<div class="container">-->
<!--  <p> {{result}}</p>-->
<!--</div>-->

<div class="row">
    <div class="col-sm-2">
        <div class="c-callout c-callout-info b-t-1 b-r-1 b-b-1">
            <small class="text-muted">Word Count</small><br>
            <strong class="h4">{{c}}</strong>
        </div>
    </div><!--/.col-->
    <div class="col-sm-2">
        <div class="c-callout c-callout-danger b-t-1 b-r-1 b-b-1">
            <small class="text-muted">Letter Count</small><br>
            <strong class="h4">{{l}}</strong>
        </div>
    </div><!--/.col-->
    <div class="col-sm-2">
        <div class="c-callout c-callout-warning b-t-1 b-r-1 b-b-1">
            <small class="text-muted">Named Entities</small><br>
            <strong class="h4">{{nc}}</strong>
        </div>
    </div><!--/.col-->
   <!-- <div class="col-sm-2">
        <div class="c-callout c-callout-success b-t-1 b-r-1 b-b-1">
            <small class="text-muted">Organic</small><br>
            <strong class="h4">49,123</strong>
        </div>
    </div>/.col-->
    <div class="col-sm-2">
        <div class="c-callout b-t-1 b-r-1 b-b-1">
            <small class="text-muted">Sentiment Analysis</small><br>
            <strong class="h4">{{s}}</strong>
        </div>
    </div><!--/.col-->
    <!--<div class="col-sm-2">
        <div class="c-callout c-callout-primary b-t-1 b-r-1 b-b-1">
            <small class="text-muted">Bounce Rate</small><br>
            <strong class="h4">5%</strong>
        </div>
    </div>&lt;!&ndash;/.col&ndash;&gt;-->
</div><!--/.row-->

<div class="container">
    <h4>Tokenize Text Engine</h4>
    <p>The following tool will use nlp nltk to parse submitted text into tokens</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Original</th>
            <!--        <th>Email</th>-->
        </tr>
        </thead>
        <tbody>
        <tr class="success" align="right">
            <td>{{orig_txt}}</td>
            <!--        <td>john@example.com</td>-->
        </tr>
    </table>
</div>

<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Result</th>
            <!--        <th>Email</th>-->
        </tr>
        </thead>
        <tbody>
        <tr class="success" align="right">
            <td>{{result}}</td>
            <!--        <td>john@example.com</td>-->
        </tr>
    </table>
</div>
<div class="container">
    <h4>Names Entities</h4>
    <p>Arabic Named enteties recognation pyarabic.named</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Result</th>
            <!--        <th>Email</th>-->
        </tr>
        </thead>
        <tbody>
        <tr class="success" align="right">
            <td>{{n}}</td>
            <!--        <td>john@example.com</td>-->
        </tr>

        </tbody>
    </table>
</div>

<div class="container">
    <h4>Sentiment Analysis</h4>
    <p>Here is our analysis for sentiment expressed in text: Positive/Negative/Neutral</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Result</th>
            <!--        <th>Email</th>-->
        </tr>
        </thead>
        <tbody>
        <tr class="success" align="right">
            <td>{{s}}</td>
            <!--        <td>john@example.com</td>-->
        </tr>

        </tbody>
    </table>
</div>

<div class="container">
    {{f}}
</div>
<div class="container">
    <h5><a href="\tokenize">New Submission</a></h5>
</div>



Sentiment Analysis is courtesy of Mazajak: An Online Arabic Sentiment Analyser
{% endblock %}


