{% extends "layout.html" %}
{% block content %}

<div class="container">
    <h2>Arabic Text Processing</h2>
    <p>Various arabic text parsing and processing tools using Python NLTK and PyArabic tools.</p>

    <form class="form-horizontal" action="{{ url_for('addtok') }}" method="POST">
        <div class="form-group">
            <label for="txt">Enter text to process:</label>
            <textarea class="form-control" rows="5" id="txt" name="txt"></textarea>

        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>

<div class="container" align="center">
<input type="text" id="YourId" value=""  dir="rtl" class="keyboardInput">
<link rel="stylesheet" type="text/css" href="http://www.arabic-keyboard.org/keyboard/keyboard.css">
	<script type="text/javascript" src="http://www.arabic-keyboard.org/keyboard/keyboard.js" charset="UTF-8"></script>
</div>
{% endblock %}